In [41]:
# Importando os pacotes 
import pandas as pd
import numpy as np
import csv
import os
from os import listdir
from os.path import isfile, join
#from google.colab import drive

In [42]:
# Definindo Diretorio
path = "\\Users\\emmanuel.torres\\Downloads\\Boi Gordo\\"

# Recuperando lista de ficheiros CSV do diretorio
ficheiros = [f for f in listdir(path) if (isfile(join(path, f)) and f.endswith('.csv')) ]
ficheiros.sort()

In [43]:
ficheiros

['BOI_GORDO.csv', 'IndBG_CEPEA.csv']

In [59]:
# Definindo variáveis
datas = []
Pracas = []
df_valores = pd.DataFrame()

# Recuperando as datas e valores para cada ficheiro
for item in ficheiros:
    vard = item[0:10]
    data = str(vard)
    datas.append(data)
    preco = []
    with open(path + item, encoding = 'latin-1') as f:
        reader = csv.reader(f, delimiter = ',')
        for row in reader:
            valor = row[1]
            praca = row[0]
            preco.append(valor)
            Pracas.append(praca)
            Pracas = Pracas[0:37]                            
    df = pd.DataFrame(preco)
    dft = df.T
    df_valores = pd.concat([df_valores, dft], ignore_index = True)
df_valores.columns = Pracas
df_datas = pd.concat([pd.DataFrame([i], columns = ['Data_new']) for i in datas], ignore_index = True)
df_valores.dropna()
df_datas.dropna()

     Data_new
0  BOI_GORDO.
1  IndBG_CEPE

In [64]:
# Unindo datas e valores num unico dataframe
mfbg = df_datas.join(df_valores)
mfbg.set_index('Data_new', inplace = True)
mfbg.tail(20)

,Data,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,...,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,Data,29/04/2021,28/04/2021,27/04/2021
Data_new,,,,,,,,,,,,,,,,,,,,,
BOI_GORDO.,Local,SP Barretos,SP AraÃ§atuba,MG TriÃ¢ngulo,MG B.Horizonte,MG Norte,MG Sul,GO GoiÃ¢nia,GO Reg. Sul,MS Dourados,...,RO Sudeste,TO Sul,TO Norte,Acre,ES,RJ,NaN,NaN,NaN,NaN
IndBG_CEPE,Valor_RS,"313,70","312,10","313,40","315,60","315,40","316,65","315,85","315,40","312,60",...,"317,37","316,55","316,10","313,34","320,11","320,75","317,39","317,15","320,12","317,55"

In [66]:
mfbg.fillna(0)

,Data,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,...,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,2021-04-30,Data,29/04/2021,28/04/2021,27/04/2021
Data_new,,,,,,,,,,,,,,,,,,,,,
BOI_GORDO.,Local,SP Barretos,SP AraÃ§atuba,MG TriÃ¢ngulo,MG B.Horizonte,MG Norte,MG Sul,GO GoiÃ¢nia,GO Reg. Sul,MS Dourados,...,RO Sudeste,TO Sul,TO Norte,Acre,ES,RJ,0,0,0,0
IndBG_CEPE,Valor_RS,"313,70","312,10","313,40","315,60","315,40","316,65","315,85","315,40","312,60",...,"317,37","316,55","316,10","313,34","320,11","320,75","317,39","317,15","320,12","317,55"

In [74]:
# Salvando dataframe como arquivo '.csv'
mfbg.to_csv("\\Users\\emmanuel.torres\\Downloads\\Boi Gordo//BDMFBG.csv", sep = ",")

## Fim

In [ ]:
import pandas as pd

df = pd.read_csv("BDMFBG.csv")
display(df)

In [ ]:
df.rename(columns = {'Data_new' : 'Local'}, inplace = True)

In [ ]:
df_ajustado = df.drop(columns=['Data', '29/04/2021','28/04/2021','27/04/2021','Data.1'])

In [ ]:
df_ajustado.to_csv("\\Users\\emmanuel.torres\\Downloads\\Boi Gordo//BDMFBG_Ajustado.csv", sep = ",")